.loginregister__input {
  width: 341px;
  height: 42px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 10px;
}

.loginregister {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.all {
  border: 1px solid gray;
}